LLM_API_KEY=
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
MODEL=kimi-k2.6
LLM_PROTOCOL=chat_completions
MANUAL_GENERATOR_DATA_DIR=./data
MANUAL_GENERATOR_HOST=127.0.0.1
MANUAL_GENERATOR_PORT=8000
PLAYWRIGHT_BROWSERS_PATH=./.playwright-browsers
